/* src/index.css or src/styles/tailwind.css */
@font-face {
  font-family: 'Helvetica';
  src: url('assets/font/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* For IE and Edge */
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotate 45s linear infinite;
}
